## Project : CabEdge

## # Training for all zones

In [1]:
import pandas as pd
import numpy as np

import datetime as pydt

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from fbprophet import Prophet

In [3]:
from fbprophet.diagnostics import cross_validation

In [4]:
import import_ipynb
import cabedge_utils

importing Jupyter notebook from cabedge_utils.ipynb

In [5]:
dropoff_df = pd.read_csv('/home/jupyter/capstone/database/complete_dropoff_2018.csv')

In [6]:
df = pd.read_csv('/home/jupyter/capstone/database/complete_pickup_2018.csv')
zone_distance_matrix = pd.read_csv('/home/jupyter/capstone/database/zone_distance_matrix.csv')
zone_df = pd.read_csv('/home/jupyter/capstone/database/zone_df.csv')

In [7]:
def modelling_train_pickup_zone(df):
    
    pickup_model_object_list = []
    df.rename(columns={'datetime':'ds','Count' : 'y'},inplace=True)
    for zone in range(1,264):
       
        train_df = df[df['PULocationID'] == zone]
        train_df = train_df[['ds','apparentTemperature','windSpeed','y']]
        train_df['ds']= pd.to_datetime(train_df['ds'])
        train_df['cap'] = train_df['y'].max() + 1
        train_df['floor'] = 0
        
        print('Creating Object')
        print('--------------------------------------------')
        m = Prophet(growth='logistic',changepoint_prior_scale = 30,seasonality_prior_scale=35,holidays_prior_scale=20,seasonality_mode='multiplicative',yearly_seasonality=True,
        weekly_seasonality=True,
        daily_seasonality=True)
        m.add_country_holidays(country_name='US')
        m.add_seasonality(name='hourly', period=24, fourier_order=5)
        
        m.add_regressor('apparentTemperature')
        m.add_regressor('windSpeed')
        try:
            zone_fit = m.fit(train_df)
            pickup_model_object_list.append(zone_fit)
        except:
            print('Problem zone id: ', zone)
            pickup_model_object_list.append(pickup_model_object_list[zone-2])
        
        del(m)
        print('Training for Zone: ',zone,'completed')
        print('--------------------------------------------')
    
    return pickup_model_object_list

In [8]:
def modelling_train_dropoff_zone(df):
    
    dropoff_model_object_list = []
    df.rename(columns={'datetime':'ds','Count' : 'y'},inplace=True)
    for zone in range(1,264):
       
        train_df = df[df['DOLocationID'] == zone]
        train_df = train_df[['ds','apparentTemperature','windSpeed','y']]
        train_df['ds']= pd.to_datetime(train_df['ds'])
        train_df['cap'] = train_df['y'].max() + 1
        train_df['floor'] = 0
        
        print('Creating Object')
        print('--------------------------------------------')
        m = Prophet(growth='logistic',changepoint_prior_scale = 30,seasonality_prior_scale=35,holidays_prior_scale=20,seasonality_mode='multiplicative',yearly_seasonality=True,
        weekly_seasonality=True,
        daily_seasonality=True)
        m.add_country_holidays(country_name='US')
        m.add_seasonality(name='hourly', period=24, fourier_order=5)
        
        m.add_regressor('apparentTemperature')
        m.add_regressor('windSpeed')
        
        try:
            zone_fit = m.fit(train_df)
            dropoff_model_object_list.append(zone_fit)
        except:
            print('Problem zone id: ', zone)
            dropoff_model_object_list.append(dropoff_model_object_list[zone-2])
        
        del(m)
        print('Training for Zone: ',zone,'completed')
        print('--------------------------------------------')
    
    return dropoff_model_object_list

In [15]:
#pick_up_model_object_list = modelling_train_pickup_zone(df)

In [16]:
#dropoff_model_object_list = modelling_train_dropoff_zone(dropoff_df)

In [20]:
len(dropoff_model_object_list)

263

In [21]:
len(pick_up_model_object_list)

263

In [25]:
%store dropoff_model_object_list

Stored 'dropoff_model_object_list' (list)

In [26]:
%store pick_up_model_object_list

Stored 'pick_up_model_object_list' (list)

In [19]:
test_1 = df[df['PULocationID'] == 263]
cap = test_1['y'].max()
test_1 = test_1[['ds','apparentTemperature','windSpeed']]
test_1['cap'] = cap
test_1['floor'] = 0

In [123]:
test_1 = pd.DataFrame(columns=['ds','apparentTemperature','windSpeed','cap','floor'])
test_1.loc[0,'ds'] = '2020-03-10 11:00:00'
test_1.loc[0,'apparentTemperature'] = 14.25
test_1.loc[0,'windSpeed'] = 1.56
test_1.loc[0,'cap'] = 1000
test_1.loc[0,'floor'] =0
test_1['ds'] = pd.to_datetime(test_1['ds'])

                   ds apparentTemperature windSpeed   cap floor
0 2020-03-10 11:00:00               14.25      1.56  1000     0

In [125]:
test_1['apparentTemperature'] = test_1['apparentTemperature'].apply(float)
test_1['windSpeed'] = test_1['windSpeed'].apply(float)
test_1['cap'] = test_1['cap'].apply(int)
test_1['floor'] = test_1['floor'].apply(int)

In [26]:
zone_pickup_list = []
for pickup in pick_up_model_object_list:
    predicted_pickup = pickup.predict(test_1)['yhat'].values[0]
    if predicted_pickup < 0 :
        predicted_pickup = 0
    
    zone_pickup_list.append(predicted_pickup)

In [27]:
zone_pickup_list

[21.3544059114053,
 8.368234795860279e-07,
 5.537418950316151,
 4.5614498477520815,
 0.04770434529535394,
 0.2284346023589372,
 9.737725822826738,
 771.0831460553989,
 1583.3255809648915,
 4.117389725620795,
 0.5535997726987533,
 735.1137862164654,
 77.25084424097489,
 16.379021760515638,
 1099.3275285552888,
 514.1860365516193,
 37.45257731725181,
 163.54808248370279,
 5.44978602467659,
 2559.8133488772337,
 2.4253004723994738,
 3.6595037971394153,
 0.035515625019093826,
 32.23820668474912,
 2.1482721103641427,
 352.7288509459785,
 0.0,
 0.7151193676797841,
 2.467216998310076,
 4.907668407950067e-55,
 259.3045171263062,
 308.2440722123989,
 3.4879868391954147,
 0.06599910832620223,
 81.4978378095271,
 0,
 0,
 186.72487663253023,
 231.3907501716344,
 1.1602277209180862,
 17.547814241876836,
 7.08171734022469,
 367.36507628224035,
 52494.24547963137,
 194.78329434679281,
 15.948093804277594,
 0.6095921291434531,
 25.677764619515813,
 2.70903101757785,
 8.403576369405624,
 40.73996659748782,
 1.2268089889156157,
 2246.278837584065,
 0.4709115857435525,
 79.37476752437868,
 108.38554740302268,
 0.007373744309320821,
 0,
 3.948304716645392,
 0.049874535052379466,
 26.703307517812785,
 69.29818793738032,
 37.19211903009665,
 0.15716409840311746,
 3.1904535129251537,
 0.3844459625112646,
 0.7156036675644051,
 93.99466490330312,
 31.94904990786899,
 7.701779689182667,
 53.99244031999416,
 99.98605788170414,
 6.529916427675444,
 14.601793526679925,
 89.36113893661089,
 210.87157174967874,
 1302.3278168167124,
 75.28092987754165,
 2.634008042100493,
 0.002009587574454405,
 19.231050040109878,
 14.004229809154495,
 8.172257460412848,
 0,
 49.04725430157839,
 1.9721104175374657,
 38.354532496321255,
 51.150612750355556,
 85.42212661601074,
 34.54950915299039,
 130.00420766666215,
 640.0975754518644,
 0.4432982845318806,
 200.33546064757647,
 9.854008437408105,
 10372.460817918118,
 0.5230440043444617,
 52.4360010416457,
 0,
 111.03672586816364,
 573.8021354906692,
 4.6362953274648655,
 4.6362953274648655,
 0,
 0,
 0.9709873566771213,
 90.81189993428629,
 39.48401891742151,
 0,
 80112.85635465616,
 5.134488368683042e-13,
 0.08496666421998642,
 64.24348835229712,
 7.247419254038985,
 0,
 8.989636943377237,
 291.35368608561424,
 0,
 934.8174583614147,
 135.48699541346062,
 963.7524979318699,
 113.20798393626634,
 877.174466075961,
 379.23085435624444,
 22.976190906949416,
 249.83638249661323,
 14.733482523952572,
 0.22398209311219222,
 12.479087637064534,
 17.45672547569759,
 315.20044155904105,
 9.892960794333215,
 0.9678322944107358,
 15.971841457139146,
 634.8797396907427,
 1318.8746924477057,
 76.78912685930948,
 34.228041315752144,
 14.088304802374052,
 40.738325292688536,
 55.44126299497017,
 211.67446914225772,
 66.83681556789631,
 40.126839738776944,
 6.928605231955778,
 5.425548499425716,
 4.605321865150264,
 0.13228842240579414,
 1249.5332890952834,
 4.985646247113578,
 104.2436045750726,
 14.453054734692497,
 2.105344472937137,
 529.6200842907723,
 1130.1034561336724,
 0,
 15.335011605580625,
 22.61406116916158,
 68.23985333231013,
 2.081478000523108,
 19.14776830739913,
 58.64573832148054,
 45.495813400238376,
 140.05035838570922,
 91.02018373764668,
 13.411809944962984,
 32.67929144201561,
 3.4054388676264544,
 40.1000361411248,
 71.36602569258004,
 363.6746574543312,
 5.7787220583031286e-05,
 2.176267342170371,
 101.60546596297584,
 0.47615296175560523,
 1.6049765939902419e-27,
 46.41075057953586,
 23.020171603893566,
 7.395170221504604,
 80.73149193678083,
 1.028194293450932,
 72.3181856427239,
 10.443034885567897,
 0,
 0.8489485034671675,
 254.98023239226987,
 0,
 0.4038184585425335,
 0.7459324499310095,
 0.005991634394351358,
 210.21526016070246,
 572.5273663544531,
 5.95537315806947,
 2.26807652042219e-10,
 0.11977907482725036,
 111.79548567828901,
 110.54305780294082,
 17.669383188009846,
 0.0,
 1610.3306728098958,
 11394.569824004502,
 107.9574974851156,
 6.677874508338579,
 0.0,
 788.759487446104,
 0,
 1.5099312788742514,
 10.998470394682053,
 12.649199786564925,
 24.52824246068045,
 202.44481760342399,
 4.304050511274068,
 3.4527114964015593,
 0,
 6.211514415989208,
 273.63172254925325,
 0.45888874965160675,
 31.376164528929262,
 22.090626252823164,
 91.46402555353343,
 2297.154830912866,
 21.416834701933915,
 20.259625941633338,
 87.55818347653127,
 11.943619877255205,
 6.812393375253259,
 83.42151228272037,
 1.0652255907600223,
 45.01614970466985,
 24.245331396235965,
 26.966833150833878,
 2.1256906123891595,
 66.25912282958078,
 55.465065250453826,
 37.64597875169994,
 63.21419641698183,
 64.05218676110945,
 76.14784872954277,
 332.6587911753066,
 0.33080365899640296,
 180.83613153073568,
 165.15112537065303,
 1.5642042852140834,
 20.04864017086287,
 0,
 8.296201167528764,
 1.251538989539271,
 0.5999016213117786,
 12.254944215575374,
 705.1888359337041,
 0,
 5.803919230048057,
 0,
 506.0590714549106,
 0,
 0,
 0.03867412879051013,
 31.689983332136837,
 101.64633345803799,
 1.8218206238906816,
 535.5822611740313,
 54.963196553697195,
 57.13453238745834]

In [28]:
zone_dropoff_list = []

In [29]:
zone_dropoff_list = []
for dropoff in dropoff_model_object_list:
    predicted_dropoff = dropoff.predict(test_1)['yhat'].values[0]
    if predicted_dropoff < 0 :
        predicted_dropoff = 0
    
    zone_dropoff_list.append(predicted_dropoff)

In [30]:
zone_demand_list = cabedge_utils.model_demand_supply(zone_pickup_list,zone_dropoff_list,2)

demand zone : 8 ,  3091.5579558884797
demand zone : 9 ,  1178.938944772106
demand zone : 12 ,  1.4119297372878898
demand zone : 15 ,  192.64366327234754
demand zone : 16 ,  11.990960907873243
demand zone : 17 ,  4.918706426774082
demand zone : 20 ,  229.94804048424186
demand zone : 26 ,  22.849724054905025
demand zone : 31 ,  20.489235218797088
demand zone : 38 ,  47.725501712265995
demand zone : 39 ,  2.745719321160462
demand zone : 44 ,  28.669337379338838
demand zone : 53 ,  212.155919402924
demand zone : 55 ,  3.76554865795931
demand zone : 56 ,  1.5200808475261658
demand zone : 61 ,  2.6354636415235726
demand zone : 62 ,  7.655390157335066
demand zone : 71 ,  1.3346399539301952
demand zone : 72 ,  2.763487148058788
demand zone : 73 ,  3.8117666608159033
demand zone : 75 ,  1.222823613468846
demand zone : 77 ,  1.850564132651345
demand zone : 85 ,  5.631250423482975
demand zone : 87 ,  1.5556022225799981
demand zone : 88 ,  1.2875994190909834
demand zone : 89 ,  59.98975652157786
demand zone : 92 ,  92.08076927983225
demand zone : 93 ,  2.36823157140324e+270
demand zone : 96 ,  16.853475340796237
demand zone : 98 ,  3.5628715715711903
demand zone : 101 ,  4.545810700843753
demand zone : 110 ,  inf
demand zone : 117 ,  4.48641253806262
demand zone : 119 ,  26.213958522154165
demand zone : 120 ,  4.477606619453182
demand zone : 121 ,  16.407997587210353
demand zone : 122 ,  5.0595146236821416
demand zone : 123 ,  6.082071114779849
demand zone : 124 ,  15.329667866233669
demand zone : 125 ,  1.478181979557319
demand zone : 126 ,  1.813923313943543
demand zone : 127 ,  2.8589898430606424
demand zone : 130 ,  3.052178635976897
demand zone : 131 ,  22.878326317248856
demand zone : 135 ,  18.558774131844608
demand zone : 136 ,  4.232459878742064
demand zone : 140 ,  1.3122568340266998
demand zone : 143 ,  1.6032791024363664
demand zone : 149 ,  37.25610667747693
demand zone : 151 ,  1.9670290428762214
demand zone : 154 ,  130.2541236410131
demand zone : 155 ,  136.31841746080363
demand zone : 162 ,  1.4961490336636734
demand zone : 165 ,  3.5644338740249033
demand zone : 171 ,  7.700423578748964
demand zone : 177 ,  3.229877772084669
demand zone : 178 ,  1.7004897031830009
demand zone : 180 ,  1.818417851924803
demand zone : 186 ,  1.2984451017356224
demand zone : 192 ,  28.453037184613883
demand zone : 195 ,  24.52842142424105
demand zone : 196 ,  1.6137994195793177
demand zone : 198 ,  4.294047005796648
demand zone : 200 ,  71.83790062334592
demand zone : 201 ,  173.02373424334388
demand zone : 202 ,  11.184454624603347
demand zone : 205 ,  16.88467266303101
demand zone : 207 ,  580.8299609719512
demand zone : 216 ,  31.718865200796838
demand zone : 218 ,  3.781532273050371
demand zone : 219 ,  2.7900949346695985
demand zone : 220 ,  5.912717048606057
demand zone : 221 ,  60.33392537483651
demand zone : 224 ,  2.824049252572684
demand zone : 227 ,  4.061041568915616
demand zone : 233 ,  1.6923299082904721
demand zone : 239 ,  3.704411566800449
demand zone : 242 ,  176.80249455531356
demand zone : 244 ,  4.27131295222784
demand zone : 250 ,  1.7188221158004136
demand zone : 254 ,  5.007796357803776
demand zone : 259 ,  1.6627301309225577
demand zone : 261 ,  1.4972570318009446

cabedge_utils.ipynb:18: RuntimeWarning:

divide by zero encountered in double_scalars

cabedge_utils.ipynb:18: RuntimeWarning:

invalid value encountered in double_scalars

In [40]:
best_zone = cabedge_utils.find_best_zone_distance(zone_distance_matrix,262,zone_demand_list)

140

In [73]:
def closest_ten_zones(current_zone,zone_distance_matrix):
    best_zone_distance_list = []
    zone_demand_list =[]
    for zone in range(1,264):
        dist = zone_distance_matrix.loc[current_zone-1][zone-1]
        best_zone_distance_list.append(dist)
        zone_demand_list.append(zone)
    
    close_zone_distance = pd.DataFrame()
    close_zone_distance['zone'] = zone_demand_list
    close_zone_distance['Distance'] = best_zone_distance_list
    closest_zones = close_zone_distance.sort_values(by='Distance').iloc[0:9,0].values
    
    return closest_zones

In [76]:
def predict_nb_pickup(test,closest_zones,pick_up_model_object_list):
    
    zone_pickup_dict = {}
    
    for pickup in closest_zones:
        predicted_pickup = pick_up_model_object_list[pickup-1].predict(test)['yhat'].values[0]
        if predicted_pickup < 0 :
            predicted_pickup = 0
    
        zone_pickup_list[pickup] = predicted_pickup
    return zone_pickup_dict

In [77]:
def predict_nb_dropoff(test,closest_zones,dropoff_model_object_list):
    
    zone_dropoff_dict = {}
    
    for dropoff in closest_zones:
        predicted_dropoff = dropoff_model_object_list[dropoff-1].predict(test)['yhat'].values[0]
        if predicted_dropoff < 0 :
            predicted_dropoff = 0
    
        zone_dropoff_dict[dropoff] = predicted_dropoff
    return zone_dropoff_dict

In [126]:
zone_pickup_dict = predict_nb_pickup(test_1,closest_zones,pick_up_model_object_list)

In [79]:
zone_dropoff_dict = predict_nb_dropoff(test_1,closest_zones,dropoff_model_object_list)

In [80]:
zone_demand_list = cabedge_utils.model_demand_supply(zone_pickup_dict,zone_dropoff_dict,263)

demand zone : 4 ,  1.3122568340266998
demand zone : 7 ,  11.184454624603347
demand zone : 9 ,  1.222823613468846

In [82]:
best_zone = cabedge_utils.find_best_zone_distance(zone_distance_matrix,262,zone_demand_list)

7

In [86]:
zone_df[zone_df['LocationID'] == 4]

,LocationID,Borough,Zone,service_zone,New_Name,Latitude,Longitude
3,4,Manhattan,Alphabet City,Yellow Zone,Manhattan_Alphabet_City,40.725102,-73.979583

In [130]:
date_str = "2019-02-23 09"

In [131]:
date_object = pydt.datetime.strptime(date_str,'%Y-%m-%d %H')

In [132]:
print(date_object)

2019-02-23 09:00:00

In [133]:
test_1 = pd.DataFrame(columns=['ds','apparentTemperature','windSpeed','floor','cap'])
test_1.loc[0,'ds'] = date_object
test_1.loc[0,'apparentTemperature'] = 14.25
test_1.loc[0,'windSpeed'] = 1.56
test_1.loc[0,'floor'] = 0
test_1.loc[0, 'cap'] = 1000

test_1['apparentTemperature'] = test_1['apparentTemperature'].apply(float)
test_1['windSpeed'] = test_1['windSpeed'].apply(float)
test_1['cap'] = test_1['cap'].apply(int)
test_1['floor'] = test_1['floor'].apply(int)

In [134]:
test_1['ds'] = pd.to_datetime(test_1['ds'])

In [135]:
test_1

                   ds  apparentTemperature  windSpeed  floor   cap
0 2019-02-23 09:00:00                14.25       1.56      0  1000

In [136]:
current_zone = 201

In [137]:
closest_zones = closest_ten_zones(current_zone,zone_distance_matrix)
print(closest_zones)
zone_pickup_list = predict_nb_pickup(test_1,closest_zones,pick_up_model_object_list)
zone_dropoff_list = predict_nb_dropoff(test_1,closest_zones,dropoff_model_object_list)
zone_demand_list = cabedge_utils.model_demand_supply(zone_pickup_list,zone_dropoff_list,current_zone)
best_zone = cabedge_utils.find_best_zone_distance(zone_distance_matrix,current_zone,zone_demand_list)

[201   2 117  30 154  27 124 222 132]
demand zone : 5 ,  2.8723158245539544
demand zone : 7 ,  1.3057884957035275
7

In [85]:
zone_df

,LocationID,Borough,Zone,service_zone,New_Name,Latitude,Longitude
0,1,EWR,Newark Airport,EWR,EWR_Newark_Airport,40.689064,-74.177255
1,2,Queens,Jamaica Bay,Boro Zone,Queens_Jamaica_Bay,40.603994,-73.835412
2,3,Bronx,Allerton/Pelham Gardens,Boro Zone,Bronx_Allerton/Pelham_Gardens,40.862773,-73.843439
3,4,Manhattan,Alphabet City,Yellow Zone,Manhattan_Alphabet_City,40.725102,-73.979583
4,5,Staten Island,Arden Heights,Boro Zone,Staten_Island_Arden_Heights,40.556413,-74.173504
...,...,...,...,...,...,...,...
258,259,Bronx,Woodlawn/Wakefield,Boro Zone,Bronx_Woodlawn/Wakefield,40.895589,-73.862713
259,260,Queens,Woodside,Boro Zone,Queens_Woodside,40.745380,-73.905415
260,261,Manhattan,World Trade Center,Yellow Zone,Manhattan_World_Trade_Center,40.711891,-74.012613
261,262,Manhattan,Yorkville East,Yellow Zone,Manhattan_Yorkville_East,40.778007,-73.948202
262,263,Manhattan,Yorkville West,Yellow Zone,Manhattan_Yorkville_West,40.778007,-73.948202

In [41]:
zone_distance_matrix.drop(columns=['Unnamed: 0'],inplace=True)

In [44]:
zone_distance_matrix

,1,2,3,4,5,6,7,8,9,10,...,254,255,256,257,258,259,260,261,262,263
0,0.000000,0.352269,0.376308,0.200930,0.132704,0.148186,0.260545,0.269987,0.394234,0.394605,...,0.358806,0.225259,0.213953,0.203451,0.319342,0.376283,0.277612,0.166217,0.245715,0.245715
1,0.352269,0.000000,0.258903,0.188288,0.341424,0.222523,0.192947,0.195380,0.163953,0.096981,...,0.269489,0.161776,0.166297,0.150335,0.088195,0.292870,0.157767,0.207466,0.207369,0.207369
2,0.376308,0.258903,0.000000,0.193619,0.450332,0.338254,0.125603,0.115401,0.114679,0.187517,...,0.026314,0.184529,0.195438,0.246091,0.174105,0.038058,0.132748,0.226682,0.134761,0.134761
3,0.200930,0.188288,0.193619,0.000000,0.257024,0.146579,0.068065,0.078298,0.193308,0.200884,...,0.183885,0.028156,0.022133,0.069384,0.126837,0.206698,0.076891,0.035574,0.061511,0.061511
4,0.132704,0.341424,0.450332,0.257024,0.000000,0.123964,0.325036,0.335273,0.435119,0.411565,...,0.438666,0.271024,0.259068,0.220608,0.342416,0.460034,0.327995,0.223740,0.316014,0.316014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,0.376283,0.292870,0.038058,0.206698,0.460034,0.353218,0.140834,0.131235,0.152709,0.224937,...,0.024750,0.202440,0.212297,0.265449,0.206375,0.000000,0.156160,0.237096,0.145375,0.145375
259,0.277612,0.157767,0.132748,0.076891,0.327995,0.209862,0.036429,0.037617,0.116802,0.136629,...,0.131448,0.057039,0.069095,0.114397,0.073517,0.156160,0.000000,0.112307,0.053808,0.053808
260,0.166217,0.207466,0.226682,0.035574,0.223740,0.119593,0.101959,0.112152,0.228332,0.231470,...,0.215173,0.059226,0.048445,0.066700,0.156345,0.237096,0.112307,0.000000,0.092304,0.092304
261,0.245715,0.207369,0.134761,0.061511,0.316014,0.208072,0.018909,0.025589,0.159341,0.189690,...,0.122981,0.063602,0.070706,0.125465,0.126595,0.145375,0.053808,0.092304,0.000000,0.000000
262,0.245715,0.207369,0.134761,0.061511,0.316014,0.208072,0.018909,0.025589,0.159341,0.189690,...,0.122981,0.063602,0.070706,0.125465,0.126595,0.145375,0.053808,0.092304,0.000000,0.000000

In [54]:
zone_distance_matrix.loc[262][0]

0.24571510255371795